APP_ENV=local
NAVER_CLIENT_ID=
NAVER_CLIENT_SECRET=
DART_API_KEY=
UPSTAGE_API_KEY=
TOSS_CLIENT_ID=
TOSS_CLIENT_SECRET=
SUPABASE_URL=
SUPABASE_SERVICE_KEY=
USE_LLM_ASSIGN=true
NEWS_EMBEDDING_DEVICE=cpu
